#logo{
    display: flex;
    background-color: rgb(14, 141, 0);
    justify-self: start;
    }
    
    .body{
    display: flex;
    
    
    }
    .box {
       background-color: rgba(230, 230, 230, 0.795);
      display: flex;
      flex-direction: column;
      justify-content:space-between;
      
      border: 1px solid black;
      padding: 1.8rem;
      border-radius: 16px;
      box-shadow: 0 0 4px 4px rgba(0, 0 , 0,0.2);
      width: 130px;
      height: 100px;
      margin-left: inherit;
      margin-top: 250px;
      }
      .S{
        display: inline-flex;
    
    
      }
      #MNSH{
       
        font-style: italic;
        font-size: xx-large;
        color: rgb(211, 70, 10);
        font-weight: 900;
        text-shadow: 2px 2px 5px #0a9da7;
        
        }